.voucherSection form{
    max-width: 70%;
}

.voucherSection{
    display: flex;
}

.voucherSection > div{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.ipData{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ipData .primary{
    color: var(--main-color);
    font-weight: bold;
    font-size: 128pt;
}

.ipData span{
    font-weight: bold;
}

.ipData span:not(:first-child){
    font-weight: 200;
}

@media only screen and (max-width: 780px) {
    .voucherSection{
        flex-direction: column;
        gap: 3rem;
    }

    .ipData .primary{
        font-size: 80pt;
    }
}