button:has(span){
    background-color: var(--background-color);
    transition: all 0.5s;
}

button:has(span):hover{
    border-color: var(--main-color);
    box-shadow: inset 0px 0px 5px 1px var(--background-color);
}

button:has(svg){
    display: flex;
    align-items: center;
    gap: 1rem;
}

button.primary{
    background: var(--dark-color);
    background: var(--gradient-primary-color);
    
}

button.primary:hover{
    border-color: var(--background-color);
}

button.primary *{
    text-transform: uppercase;
    color: white;
}

button.secondary:has(svg){
    flex-direction: row-reverse;
}

button.secondary{
    border: 1px solid var(--sub-background-color);
    background: var(--gradient-background-color);
    color: var(--text-color);
}

button.primary, button.secondary{
    border-radius: 90px;
    padding: 0.5rem 2rem;
    
    font-family: "Poppins", sans-serif;
}

