#main{
    padding: 10rem var(--inner-padding);
    display: flex;
    justify-content: space-between;
}

main{
    display: flex;
    flex-direction: column;
    max-width: 50%;
    justify-content: end;
}

main span.primary{
    color: var(--dark-color);
    font-family: "dharma-gothic-e", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 24pt;
}

main p{
    font-family: "termina", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 36pt;
    margin: 0;
}

main p span{
    color: var(--main-color);
}

main p + span{
    font-size: 16pt;
    font-family: "Poppins", sans-serif;
    color: var(--text-color);
    margin: 2rem 0;
    font-weight: 300;
}

main > div{
    display: flex;
    gap: 1rem;
}

.noSlider{
    padding: 0 var(--inner-padding);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.noSlider > div{
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
}

@media only screen and (max-width: 1280px){
    main{
        max-width: 60%;
    }
}

@media only screen and (max-width: 780px){
    main{
        max-width: none;
        padding: 3rem 0;
    }
    #main{
        flex-direction: column;
        padding: 3rem var(--inner-padding);
    }
    .noSlider{
        justify-content: space-evenly;
    }
}

