.duelsButton{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: end;
}

.circle{
    background: var(--gradient-background-color);
    border: 1px solid var(--sub-background-color);
    border-radius: 90px;
}

.big{
    width: 16px;
    height: 16px;
}

.small{
    width: 8px;
    height: 8px;
}

.duelsButton + div{
    gap: 1rem;
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
}