footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer > div{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

footer > div > div{
    display: flex;
    align-items: start;
    gap: 1rem;
}

footer > div > div > div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

footer .separator{
    width: 1px;
    height: auto;
    padding: 1rem 0;
    background: var(--main-color);
}

@media only screen and (max-width: 780px) {
    footer > div{
        flex-direction: column-reverse;
        align-items: center;
    }

    footer > div >div{
        flex-direction: column;
        align-items: center;
        width: 50%;
    }
    footer .separator{
        transform: rotate(90deg);
        width: 2px;
    }
}